outputs/
local/
.mypy_cache/
.vscode/
*.json
# vim specific files
*.swp
*.swo
# pyc files and folders
*.pyc
__pycache__/
.unity/

# debug filestest.py
test.py
plot.py
.vuepress/
docs/.vuepress/
docs/
node_modules/